<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	<context:annotation-config/>
	<context:component-scan base-package="edu.spring.mod4"/>
	<import resource="datasource-config.xml"/>
	
	<bean id="userDao" name="userDao" class="edu.spring.mod4.dao.UserDao"/>

	<bean id="jdbcTemplate" name="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="datasource"></property>
	</bean>
	<!-- <bean id="namedParamJdbcTemplate" name="namedParamJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParamJdbcTemplate">
	<constructor-arg name="dataSource" ref="datasource"/>
	</bean> -->
	<bean id="nameParamJdbcTemplate" name="nameParamJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg name="dataSource" ref="datasource"/>
	</bean>
</beans>
